body {
    width: 100vw;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    background: url("../public/chat1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}


.navbar {
    display: flex;
    justify-content: space-between;
    font-size: large;
    /* From https://css.glass */
    background: rgb(39 38 38 / 20%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: sans-serif;
    color: white;
}

.nav-right {
    display: flex;
    width: 30vw;
    justify-content: space-around;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.registerForm {
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.formBlock {
    /* From https://css.glass */
    width: 80vw;
    height: 80vh;
    margin: 40px auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.formTitle {
    font-family: sans-serif;
    font-size: xx-large;
    color: white;
    width: 80vw;
    margin-top: 10px;
    text-align: center;


}

input {
    width: 30vw;
    font-size: large;
    height: 3vh;
    border-radius: 5px;
    border: none;
    background-color: aliceblue;
}

li {
    list-style: none;
}

img {
    height: 30vw;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    font-size: large;
    background-color: #04AA6D;
    border-radius: 5px;
    color: white;
    border: none;
    height: 3vh;
}

button:hover {
    transform: scale(1.5);
}

.formButton {
    display: flex;
    justify-content: right;
}

.dialog {
    margin-top: 10px;
    width: 30vw;
    height: 5vh;
    border-radius: 5px;
    background-color: aliceblue;
    text-align: justify;
}

.chat {
    display: flex;
}

.friendblock {
    width: 26%;
    height: 89vh;
    background: rgba(83, 81, 81, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(88, 87, 87, 0.342);
}

.friends {
    width: 100%;
    height: 89vh;
    background: rgba(31, 29, 29, 0.555);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 0%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.frequest {
    width: 100%;
    height: 5vh;
    /* background: rgba(255, 255, 255, 0.2); */
    background: rgba(83, 81, 81, 0.2);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 0%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(88, 87, 87, 0.342);

    display: flex;
    align-items: center;
}

.chatblock {
    width: 74%;
    /* background: rgba(255, 255, 255, 0.2); */
    background: rgba(83, 81, 81, 0.2);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.frequest input {
    width: 80%;
    height: 3vh;
}

.frequest button {
    /* width: 100%; */
    height: 3vh;
    background-color: #04aa6d00;
}

.frequest form {
    width: 99%;
    display: flex;
    gap: 0;
    flex-direction: row;
    justify-content: space-around;
}

.frequest button:hover {
    transform: scale(1);
}

.messages {
    width: 100%;
    height: 89vh;
    background: rgba(46, 39, 39, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.sendmessage input {
    width: 95%;
    height: 3vh;
}

.sendmessage button {
    width: 3vw;
    height: 3.2vh;
    border-radius: 0%;
    background-color: #04aa6d00;
}

.sendmessage button:hover {
    transform: scale(1);
}

.sendmessage form {
    display: flex;
    gap: 0;
    flex-direction: row;
    align-items: center;
    flex-basis: 80vw;
    justify-content: start;
}

.friends button:hover {
    transform: none;
    background-color: rgba(128, 128, 128, 0.425);
}

.friends button {
    width: 95%;
    margin: 0 10px;
    height: 5vh;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.027);
    text-align: justify;
    border-radius: 5px;
    background-color: rgb(132 145 144 / 0%);
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 10px;

}

.chats {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 83vh;
    background: rgba(46, 39, 39, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(88, 87, 87, 0.342);

    overflow-y: scroll;
    border-radius: 0%;
}

.chats::before {
  content: "";
  flex: 1;
}

.send {
    float: right;
    clear: both;
}

.online {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: -2px;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.5px;
    border-color: #04AA6D;
    height: 8px;
    width: 8px;
    background-color: #04AA6D;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;

}

.offline {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: -2px;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.5px;
    border-color: red;
    height: 8px;
    width: 8px;
    background-color: red;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;

}

.chat-message {
    background-color: white;
    padding: 5px;
    width: fit-content;
    /* height: 8vh; */
    text-align: justify;
    border-radius: 10px;
    margin-bottom: 3px;

}

.received {
    clear: both;

}

.chats::-webkit-scrollbar {
    display: none;
}

.chat-box {

    padding: 5px;

    border-radius: 10px;
    margin: 10px;
    /* width: 30vw; */
    /* height: 10vh; */
    text-align: end;
    width: fit-content;

}

.friendname {
    display: flex;
    flex-direction: column;
    font-size: small;
    flex-basis: 100%;

}

.friend-name {
    font-size: medium;
    display: flex;
    justify-content: space-between;
}

.friends img {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
}

.friend-img {
    position: relative;
    display: flex;
    margin-right: 10px;

}

.friend-lmd {
    font-size: small;
}

.date {
    width: 7vw;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;

}

.send .chat-message {
    background-color: #009ae5b8;
    color: white;
    padding: 10px;
}

.received .chat-message {
    background-color: rgb(255 255 255 / 32%);
    color: white;
    padding: 10px;

}

.message-date {
    height: fit-content;
    margin: 0 10px;
    margin-top: 40px;
}

.time-text {
    color: white;
}

.connecting-user {
    display: flex;
    height: 6vh;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: large;
    width: 100%;
    border: 2px solid rgba(88, 87, 87, 0.342);



}

.connecting-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.connecting-uimg {
    text-align: center;
    flex-basis: 4vw;
}

.sendmessage {
    display: flex;
    align-items: center;
    height: 5vh;
    background: rgba(46, 39, 39, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: space-around;
    text-align: center;
}

.emj-file {
    display: flex;
    flex-basis: 1vw;
    justify-content: space-around;
}

.emj-file button {
    flex-basis: 5%;
}

.file-form {
    width: 100%;
    height: 88vh;
    background: rgba(46, 39, 39, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.file-form img {
    width: 100%;
    height: 100%;
}

.file-form form {
    width: 50%;
    margin: auto;
    align-items: center;
}

.file-close {
    background-color: #04aa6d00;
    width: 1px;
    height: 1px;
}

.file-form button {
    background-color: #04aa6d00;
}

.file-caption {
    display: flex;
}


.file-form button:hover {
    transform: unset;
}

.chat-box img {
    height: 25vh;
    /* width: 28vw; */
    border-radius: 2%;
}

.chat-box video {
    height: 25vh;
    width: 28vw;
    border-radius: 2%;
}



.drop-down {
    height: 14vh;
    z-index: 0;
    position: absolute;
    top: -13.9vh;
    left: 5vw;
    animation: downOut 100ms ease-in-out forwards;
    width: 9vw;
    background: rgba(46, 39, 39, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.drop-block {
    display: flex;
    flex-direction: column;
    background: #04AA6D;
    z-index: +1;
    position: absolute;
    gap: 2px;
    width: 9vw;


}

/* @keyframes downOut {
    0% {
       transform: transLateY(0px)
   }
   50%{
    transform: transLateY(-20px)
   }
   100%{
    transform: transLateY(-30px)
   }
   
} */

.drop-block {
    background-color: #04aa6d00;
    ;
}

.drop-block button {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 9vw;
    border-radius: 5%;
}

.drop-block button div {
    flex-basis: 50px;
}

.drop-block button:hover {
    background-color: gray;
}

.doc-name {
    font-weight: 500;
    font-size: 3rem;
    color: white;
}

.audioChatBox {
    display: flex;
    justify-content: space-between;
}

.docChatBox {
    display: flex;
    justify-content: space-between;
}

.connecting-uleft {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

video {
    width: fit-content;
}

.classRoom {
    width: 100vw;
    background: rgb(39 38 38 / 20%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 94vh;
}

.classRoom-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
}

.classRoom-container input {
    width: fit-content;
}

.classRoom-container input::placeholder {
    color: rgba(255, 255, 255, 0.774);
}

.classRoom-container input[type=text] {
    background-color: rgba(0, 0, 0, 0.267);
    color: white;
    height: 40px;
    font-size: x-large;
}

.classRoom-container button {
    width: 100px;
    height: 30px;

}

.classRoom-container button:hover {
    scale: none;
}

.classRoom-button {
    display: flex;
    gap: 40px;
}

.room-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.room-chatBox-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    /* border:1px solid black */
    background: rgb(0 0 0 / 45%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* border-radius: 5px; */
}

.room-board-container {
    width: 80%;
    height: 100%;

}

.room-chatBox-container .top {
    height: 95%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

}


.room-chatBox-container button {
    background-color: rgba(128, 128, 128, 0.616);
    width: 100%;
    border-radius: 0;

}

.room-chatBox-container button:hover {
    transform: unset;
}

.room-chatBox-container .down {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.082);
    padding-top: 5px;

}

.room-chatBox-container .down-input-button {
    display: flex;
    gap: 10px;
    /* height: 5%; */
    align-items: center;
    justify-content: center;
    /* margin: 0 20px ; */
    /* padding: 0 20px; */
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    width: 100%;
}

.room-chatBox-container .down-input-button button {
    background-color: #04AA6D;
    border-radius: 5px;
}

.down-input-button input {
    width: 70%;
}

.down-input-button button {
    width: 20%;
}

.room-chatBox-container .top .message {
    width: 95%;
    display: flex;
    flex-direction: column;
}

.room-chatBox-container .top .message p {
    width: fit-content;
    padding: 10px;
    margin: 10px;
    border-radius: 5px
}

.room-chatBox-container .top .message-text {
    background-color: rgb(57, 134, 223);
    color: white
}

.room-chatBox-container .top .message .right-message {
    display: flex;
    justify-content: flex-end;
}

.room-chatBox-container .from {
    margin-top: 10px;
    margin-bottom: -5px;

    font-size: small;
}

canvas {
    background-color: rgb(26, 25, 25);
    padding: 0;
    border: 1px solid rgba(66, 64, 64, 0.37);
    width: 100%;
    height: 100%;
}

#canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%
}

.room-board-subContainer{
    width: 100%;
    height: 100%;
}

.sub-board-block{
    width: 100%;
    height: 100%;
}

.canvas-board-container{
    width: 100%;
    height: 100%;
}

.canvas-board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

.colors-board {
    background-color: rgb(49 42 42 / 53%);
    padding: 20px;
    margin-bottom: 5px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width:90%
}

.colors-board button {
    border-radius: 0%;
    width: 20px;
    height: 25px;

}

.colors-board button:hover {
    transform: unset;
    cursor: pointer;
}

.painting-colors{
    display: flex;
    align-items: center;
    gap:10px;
    flex-wrap: wrap;
}

.colors-board .pencil-board {
    display: flex;
    align-items: center;
    gap: 25px;

}

.colors-board .pencil-board button {
    background-color: transparent;
    font-size: smaller;
}


.board-block {
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.start-game {
    position: absolute;
    z-index: 1;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-game p {
    font-size: xx-large;
    color: #04AA6D;
    font-weight: 500;

}

.start-game button {
    height: 4vh;
    width: 5vw;
    cursor: pointer;
}

.password-clock {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    color: white;

}

.room-chatBox-container .top .message .centre-message {
    display: flex;
    justify-content: center;
}

.centre-message .join {
    background-color: grey;
}

.join-text {
    color: white
}

.randomWord {
    display: flex;
    gap: 5px;
}

.randomWord p {
    background-color: #8fcc8a8f;
    border: 3px solid #04AA6D;
    /* padding: 5px; */
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: 800;
}

.classRoom-title {
    font-size: 4rem;
    color: white;
    font-family: sans-serif;
}

#remote-video {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    object-fit: cover;
    z-index: -2;
}

#remote-video1 {
    width: 20%;
    height: 30%;
    position: absolute;
    z-index: -1;
    top: 20px;
    right: 50px;
    /* object-fit: cover; */
}

#local-video {
    width: 20%;
    height: 30%;
    position: absolute;
    z-index: -1;
    top: 20px;
    right: 50px;
    /* object-fit: cover; */

}

#local-video1 {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0%;
    margin: 0%;
    z-index: -2;
    object-fit: cover;
}


#call-video {
    display: flex;
    position: relative;
    width: 100%;
    height: 93%;
}

.calling-buttons {
    display: flex;
    position: absolute;
    z-index: 1;
    gap: 50px;
    bottom: 30px;
    width: 100%;
    justify-content: center;
}

.calling-buttons button {
    background-color: rgba(12, 12, 12, 0.507);
    border-radius: 50%;
    width: 100px;
    height: 100px;

}

.calling-buttons button:hover {
    transform: none;

}

.calling-video {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: -1;
}

.calling-to {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 5rem;
    height: 90%;
    align-items: center;
    color: white
}

.call-from {
    position: absolute;
    z-index: 1;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.call-from button {
    background-color: rgba(0, 0, 0, 0.26);
}

.call-from button:hover {
    transform: none;
}

.emojies {
    position: absolute;
    z-index: 1;
    bottom: 40px;
    height: 200px;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.096);
    display: none;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 5px;


}

.emoji-wrapper:hover .emojies {
    display: flex;
}

.emojies button {
    width: 30px;
    height: 10px;
}

.request-block {
    display: flex;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.request-block .close{
    display: flex;
    justify-content: end;
}

.request-block .close button
{
    background-color: rgba(0, 0, 0, 0.123);
    border-radius: 50%;
}

.request-block .close button:hover{
    transform: none;
}

.request-block .container {
    width: 40%;
    height: 75%;
    border-radius: 5px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.21);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.request-search-ls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;


}

.request-block input {
    width: 90%;
    border-radius: 5px;

}

.request-block .inside-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.request-search-ls img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;

}

.request-search-ls .list {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px auto;
    gap: 10px;
    font-weight: 600;
    color: white;
    
}

.request-search-ls button{
    margin-right: 20px;
}

.request-search-ls button:hover{
    transform: none;
}

.request-search-ls .flist{
    display: flex;
    align-items: center;
    gap:10px;
}

.room-not-found{
    background-color: rgba(0, 0, 0, 0.233);
    color:white;
    border-radius: 5px;
    padding: 0 20px;
}

button:hover{
    cursor: pointer;
}

.calling-icon{
    background-color: rgba(0, 0, 0, 0.226);
    padding: 2px;
    border-radius: 5px;
}

.calling-icon:hover{
    cursor: pointer;
}
