body {
    width: 100vw;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    background: url("../public/chat1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}


.navbar {
    display: flex;
    justify-content: space-between;
    font-size: large;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: sans-serif;
    color: white;
}

.nav-right {
    display: flex;
    width: 30vw;
    justify-content: space-around;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.registerForm {
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.formBlock {
    /* From https://css.glass */
    width: 80vw;
    height: 80vh;
    margin: 40px auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.formTitle {
    font-family: sans-serif;
    font-size: xx-large;
    color: white;
    width: 80vw;
    margin-top: 10px;
    text-align: center;


}

input {
    width: 30vw;
    font-size: large;
    height: 3vh;
    border-radius: 5px;
    border: none;
    background-color: aliceblue;
}

li {
    list-style: none;
}

img {
    height: 30vw;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    font-size: large;
    background-color: #04AA6D;
    border-radius: 5px;
    color: white;
    border: none;
    height: 3vh;
}

button:hover {
    transform: scale(1.5);
}

.formButton {
    display: flex;
    justify-content: right;
}

.dialog {
    margin-top: 10px;
    width: 30vw;
    height: 5vh;
    border-radius: 5px;
    background-color: aliceblue;
    text-align: justify;
}

.chat {
    display: flex;
}

.friendblock {
    width: 10vw;
    height: 89vh;
    background: rgba(83, 81, 81, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.friends {
    width: 10vw;
    height: 89vh;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 0%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.frequest {
    width: 10vw;
    height: 5vh;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 0%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
}

.chatblock {
    width: 90vw;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.frequest input {
    width: 7.4vw;
    height: 3vh;
}

.frequest button {
    width: 2vw;
    height: 3vh;
    background-color: #04aa6d00;
}

.frequest form {
    width: 10vw;
    display: flex;
    gap: 0;
    flex-direction: row;
    justify-content: space-around;
}

.frequest button:hover {
    transform: scale(1);
}

.messages {
    width: 90vw;
    height: 89vh;
    background: rgba(46, 39, 39, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.sendmessage input {
    width: 75vw;
    height: 3vh;
}

.sendmessage button {
    width: 3vw;
    height: 3.2vh;
    border-radius: 0%;
    background-color: #04aa6d00;
}

.sendmessage button:hover {
    transform: scale(1);
}

.sendmessage form {
    display: flex;
    gap: 0;
    flex-direction: row;
    align-items: center;
    flex-basis: 80vw;
    justify-content: start;
}

.friends button:hover {
    transform: none;
}

.friends button {
    width: 10vw;
    height: 4.5vh;
    border-bottom: 0.2px solid black;
    text-align: justify;
    border-radius: 0;
    background-color: rgb(132 145 144 / 0%);
    display: flex;
    align-items: center;
}

.chats {
    width: 90vw;
    height: 83vh;
    background: rgba(46, 39, 39, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow-y: scroll;
    border-radius: 0%;
}

.send {
    float: right;
    clear: both;
}

.online {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: -2px;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.5px;
    border-color: #04AA6D;
    height: 8px;
    width: 8px;
    background-color: #04AA6D;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;

}

.offline {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: -2px;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.5px;
    border-color: red;
    height: 8px;
    width: 8px;
    background-color: red;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;

}

.chat-message {
    background-color: white;
    padding: 5px;
    width: 28vw;
    height: 8vh;
    text-align: justify;
    border-radius: 10px;
    margin-bottom: 3px;

}

.received {
    clear: both;

}

.chats::-webkit-scrollbar {
    display: none;
}

.chat-box {

    padding: 5px;

    border-radius: 10px;
    margin: 20px;
    width: 30vw;
    height: 10vh;
    text-align: end;

}

.friendname {
    display: flex;
    flex-direction: column;
    font-size: small;
    flex-basis: 10vw;

}

.friend-name {
    font-size: medium;
    display: flex;
    justify-content: space-between;
}

.friends img {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
}

.friend-img {
    position: relative;
    display: flex;
    margin-right: 10px;

}

.friend-lmd {
    font-size: small;
}

.date {
    width: 7vw;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;

}

.send .chat-message {
    background-color: #009ae5b8;
    color: white;
}

.received .chat-message {
    background-color: rgb(255 255 255 / 32%);
    color: white;
}

.message-date {
    height: 15vh;
}

.time-text {
    color: white;
}

.connecting-user {
    display: flex;
    height: 6vh;
    align-items: center;
    color: white;
    font-size: large;

}

.connecting-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.connecting-uimg {
    text-align: center;
    flex-basis: 4vw;
}

.sendmessage {
    display: flex;
    align-items: center;
    height: 5vh;
    background: rgba(46, 39, 39, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: space-around;
    text-align: center;
}

.emj-file {
    display: flex;
    flex-basis: 1vw;
    justify-content: space-around;
}

.emj-file button {
    flex-basis: 1vw;
}

.file-form {
    width: 90vw;
    height: 88vh;
    background: rgba(46, 39, 39, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.file-form img {
    width: 50vw;
    height: 60vh;
}

.file-form form {
    width: 50%;
    margin: auto;
    align-items: center;
}

.file-close {
    background-color: #04aa6d00;
    width: 1px;
    height: 1px;
}

.file-form button {
    background-color: #04aa6d00;
}

.file-caption {
    display: flex;
}


.file-form button:hover {
    transform: unset;
}

.chat-box img {
    height: 25vh;
    width: 28vw;
    border-radius: 2%;
}

.chat-box video {
    height: 25vh;
    width: 28vw;
    border-radius: 2%;
}

audio {
    width: 500px;
}

.drop-down {
    height: 14vh;
    z-index: 0;
    position: absolute;
    top: -13.9vh;
    left: 5vw;
    animation: downOut 100ms ease-in-out forwards;
    width: 9vw;
    background: rgba(46, 39, 39, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.drop-block {
    display: flex;
    flex-direction: column;
    background: #04AA6D;
    z-index: +1;
    position: absolute;
    gap: 2px;
    width: 9vw;


}

/* @keyframes downOut {
    0% {
       transform: transLateY(0px)
   }
   50%{
    transform: transLateY(-20px)
   }
   100%{
    transform: transLateY(-30px)
   }
   
} */

.drop-block {
    background-color: #04aa6d00;
    ;
}

.drop-block button {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 9vw;
    border-radius: 5%;
}

.drop-block button div {
    flex-basis: 50px;
}

.drop-block button:hover {
    background-color: gray;
}

.doc-name {
    font-weight: 500;
    font-size: 3rem;
    color: white;
}

.audioChatBox {
    display: flex;
    justify-content: space-between;
}

.docChatBox {
    display: flex;
    justify-content: space-between;
}

.connecting-uleft {
    display: flex;
    justify-content: space-between;
    width: 80vw;
}

video {
    width: 80vw;
}

.classRoom {
    width: 100vw;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 94vh;
}

.classRoom-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
}

.classRoom-container input {
    width: fit-content;
}

.classRoom-container input[type=text] {
    background-color: rgba(0, 0, 0, 0.267);
    color: white;
    height: 40px;
    font-size: x-large;
}

.classRoom-container button {
    width: 100px;
    height: 30px;

}

.classRoom-container button:hover {
    scale: none;
}

.classRoom-button {
    display: flex;
    gap: 40px;
}

.room-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.room-chatBox-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    /* border:1px solid black */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* border-radius: 5px; */
}

.room-board-container {
    width: 80%;
    height: 100%;

}

.room-chatBox-container .top {
    height: 95%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

}


.room-chatBox-container button {
    background-color: rgba(128, 128, 128, 0.616);
    width: 100%;
    border-radius: 0;

}

.room-chatBox-container button:hover {
    transform: unset;
}

.room-chatBox-container .down {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.082);
    padding-top: 5px;

}

.room-chatBox-container .down-input-button {
    display: flex;
    gap: 10px;
    /* height: 5%; */
    align-items: center;
    justify-content: center;
    /* margin: 0 20px ; */
    /* padding: 0 20px; */
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
    width: 100%;
}

.room-chatBox-container .down-input-button button {
    background-color: #04AA6D;
    border-radius: 5px;
}

.down-input-button input {
    width: 70%;
}

.down-input-button button {
    width: 20%;
}

.room-chatBox-container .top .message {
    width: 95%;
    display: flex;
    flex-direction: column;
}

.room-chatBox-container .top .message p {
    width: fit-content;
    padding: 10px;
    margin: 10px;
    background-color: rgb(57, 134, 223);
    border-radius: 5px;
}

.room-chatBox-container .top .message .right-message {
    display: flex;
    justify-content: flex-end;
}

.room-chatBox-container .from {
    margin-top: 10px;
    margin-bottom: -5px;

    font-size: small;
}

canvas {
    background-color: rgb(78, 78, 128);
    padding: 0;
    border: 1px solid rgba(66, 64, 64, 0.37);
}

.container .tools {
    display: flex;
}

.canvas-board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.colors-board {
    background-color: rgba(255, 255, 255, 0.527);
    padding: 20px;
    margin: 5px;
    display: flex;
    gap: 2px;
}

.colors-board button {
    border-radius: 0%;
}

.colors-board button:hover {
    transform: unset;
    cursor: pointer;
}


.board-block{
    position: absolute;
    z-index: -1;
}

.start-game{
    position:absolute;
    z-index: 1;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-game p{
    font-size: xx-large;
    color:#04AA6D;
    font-weight: 500;
    
}

.start-game button{
    height: 4vh;
    width: 5vw;
    cursor: pointer;
}

.password-clock{
    display: flex;
    justify-content: space-around;
}